<launch>
    <rosparam command="load" file="$(find porterble)/config/settings.yaml" />
    <node pkg="porterble" name="pose_estimator_node" type="pose_estimator_node.py" />
    <node pkg="porterble" name="pose_client" type="pose_client.py" output="screen" />
    <!-- <node pkg="porterble" name="driver_interface_node" type="driver_interface_node.py" /> -->
    <!-- <node pkg="porterble" name="watchdog_interface_node" type="watchdog_interface_node.py" output="screen" /> -->
    <!-- <node pkg="porterble" name="torch_interface_node" type="torch_interface_node.py" /> -->
</launch>